:root {
    --burgundy--:#B91646;
    --dark-green:#105652;
    --mustard-yellow:#F9C041;
    --bg-color:#FBF3E4;
    --bg-color-dark-grey:#DFD8CA;
    --cursive-font:'Alex Brush',
            cursive;
    --paragraph-font: 'Poppins',
        sans-serif;
    --bold-font:'Bayon',
        sans-serif;
}

body{
    background-color: var(--bg-color);
    
}
h1{
    font-family:var(--bold-font);
    font-size: 120px;
    margin: 0;   
    line-height: 1; 
}
.head, p{
    margin: 0;
    font-family: var(--cursive-font);
    font-size: 100px;  
    line-height: 0.5;
    color: var(--burgundy--);

}
h1,p{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    background: var(--bg-color-dark-grey);
    max-width: 100%;
    padding: 5px 40px;
    font-family:var(--paragraph-font);
    font-size: 27px ;  
    font-weight: 300;  
}

h3{
    font-family: var(--bold-font);
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    
    
}
p { font-family: var(--paragraph-font);
    font-size: 25px;
    line-height: 1.5;
    color: black;
    font-weight: 300;
    }
 img{
    background: var(--bg-color-dark-grey);
    padding: 25px;
    border: 3px solid black;
    border-radius: 15px;
 }  
 .bella, img{
    margin-top: 100px;
 } 
 .weatherPic, img{
    margin-left: 70px;
    margin-top: 190px;
 }
 
 .reviewsPic,img{
    margin-top: 120px;
 }

 .meImg,img{
    margin-right: 70px;
    padding: 40px;
    background: var(--burgundy--);
 }
 .paragraph1, div{
   padding: 50px;
 }
 .paragraph2, div{
    padding: 50px;
 }
.name{
    display: flex;
    justify-content: center;
}
.aboutContainer{
    
}

.heading{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: white;
    
}
.bellaBtn{
    border: 2px solid black;
    padding: 10px 50px;
    border-radius: 5px;
    background: var(--mustard-yellow);
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    width: 50%;
    color: white;
    font-family: var(--bold-font);
    font-size: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
   
}

.weatherBtn{
    border: 2px solid black;
    padding: 10px 50px;
    border-radius: 5px;
    background: var(--dark-green);
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    width: 50%;
    color: white;
    font-family: var(--bold-font);
    font-size: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.reviewsBtn{
    border: 2px solid black;
        padding: 10px 50px;
        border-radius: 5px;
        background: var(--burgundy--);
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin-top: 35px;
        width: 50%;
        color: white;
        font-family: var(--bold-font);
        font-size: 25px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);}

@media(max-width:600px){
   .head, p{
    font-size: 55px; 
   }
  h1{
    font-size: 70px;} 
  h2{
    font-size: 20px;
    margin: 0;
  } 
  h3{
    font-size: 42px;
    margin-top: 0;
  } 
  p{
    font-size: 25px;
  }
 .bellaBtn, .weatherBtn, .reviewsBtn{
    width: 100%;
 }  
 
 
}